.ice-form {
  font-size: 14px;
  .item {
    .label-value {
      display: flex;
      align-items: center;
      .label {
        text-align: right;
        .tip {
          margin-left: 2px;
        }
        .required {
          margin-left: 2px;
          color: red;
        }
      }
    }

    margin-bottom: 15px;
  }
}
